In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("events.csv")

/home/a127017/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.describe()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
count,1011288,1011288,1011288,82756,563838.0,564284,563836,563836,563836,221699,...,50957,87378,87378,87378,87378,87378,87378,87378,87378,87378
unique,793805,11,27624,227,3885.0,202,5,8,63,35310,...,4,7,2,1939,93,46,4,282,121,343
top,2018-05-15 15:56:06,viewed product,71492f2b,/,2830.0,iPhone 6,Bom,16GB,Preto,"2820,6706,6720,2750,6649,7251,6663,12604,7224,...",...,Google,Paid,Returning,Unknown,Sao Paulo,Brazil,Smartphone,360x640,Windows 7,Chrome 66.0
freq,11,528931,2771,28323,4311.0,50916,243014,190833,132960,594,...,50240,44193,60480,15819,24996,84308,44239,30009,19675,22611

In [27]:
df.groupby('new_vs_returning')['person'].nunique()

new_vs_returning
New          1
Returning    1
Name: event, dtype: int64

In [16]:
df.groupby('event')['person'].nunique()

event
ad campaign hit      21312
brand listing        10821
checkout             27624
conversion             716
generic listing      15404
lead                   291
search engine hit    17205
searched products     7420
staticpage            1475
viewed product       26316
visited site         26899
Name: person, dtype: int64

In [43]:
df.groupby(['person','new_vs_returning'])['event'].count()

person    new_vs_returning
0004b0a2  New                  1
0006a21a  New                  1
000a54b2  New                  1
          Returning            1
00184bf9  New                  1
          Returning            1
0019c395  New                  1
001bb7eb  New                  1
          Returning            1
001f1653  New                  1
00204059  New                  1
          Returning           11
0024a82b  New                  1
0024ad28  New                  1
          Returning            2
00269e77  New                  1
          Returning            3
0026fd72  New                  1
          Returning            1
0027c344  New                  1
          Returning            2
00283a9e  New                  1
          Returning            1
002932b1  New                  1
          Returning            3
002cecfa  New                  1
00300ace  New                  1
          Returning            1
00344c0a  New                  1
003857f6  New                  1
                              ..
ffd9b5f9  New                  1
ffd9e195  New                  1
          Returning            1
ffdcf469  New                  1
ffe006ea  New                  1
          Returning            3
ffe129fe  New                  1
ffe1bfe7  New                  1
          Returning            1
ffe1f855  New                  1
ffe226f0  New                  1
ffe741db  New                  1
ffeaaa70  New                  1
          Returning            2
ffeb3a03  New                  1
          Returning            1
ffef9da6  New                  1
fff0e00c  New                  1
          Returning            3
fff225f8  New                  1
fff229f7  New                  1
          Returning            1
fff568f7  New                  1
          Returning            2
fff60213  New                  1
fff99b85  New                  1
ffff8106  New                  1
ffffa8d1  New                  1
          Returning            3
ffffac8a  New                  1
Name: event, Length: 38029, dtype: int64

In [25]:
df.groupby('condition')['person'].nunique()

condition
Bom                   0
Bom - Sem Touch ID    0
Excelente             0
Muito Bom             0
Novo                  0
Name: url, dtype: int64

In [26]:
df.groupby('screen_resolution')['person'].nunique()

screen_resolution
1000x750     0
1007x569     0
1012x569     0
1024x1024    0
1024x552     0
1024x576     0
1024x600     0
1024x615     0
1024x640     0
1024x756     0
1024x768     0
1024x819     0
1024x820     0
1024x864     0
1025x576     0
1041x586     0
1051x591     0
1067x592     0
1067x600     0
1080x1920    0
1080x1921    0
1080x2004    0
1080x2010    0
1080x2160    0
1080x2220    0
1082x1922    0
1088x614     0
1088x615     0
1093x614     0
1093x615     0
            ..
640x480      0
648x366      0
720x1280     0
721x1281     0
722x406      0
732x412      0
740x360      0
753x424      0
768x1024     0
768x1366     0
768x976      0
800x1280     0
800x444      0
800x450      0
800x480      0
800x600      0
820x480      0
820x615      0
834x1112     0
854x683      0
855x480      0
900x1440     0
907x512      0
922x692      0
960x540      0
960x600      0
962x601      0
971x549      0
976x549      0
976x610      0
Name: url, Length: 282, dtype: int64

In [15]:
df.groupby('new_vs_returning')['person'].count()

new_vs_returning
New          26898
Returning    60480
Name: person, dtype: int64